@import "../variables";

.button {
  padding: r(12px) r(25px);
  border: none;

  @include font-18();
  @include font-bold();
  color: $color_white;
  text-align: center;

  background-color: $color_blue;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  &:hover, &:active {
    background-color: $color_blue--light;
  }

  &--sign {
    padding: 0 r(22px);

    @include font-40();
    @include font-bold();

    line-height: r(40px);
  }

  &--icon {
    padding: 0;

    background-color: transparent;
    box-shadow: none;

    &:hover, &:active {
      background-color: transparent;
    }
  }
}