@import "../variables";

.button {
  padding: r(12px) r(25px);
  border: none;

  height: r(48px);

  @include font-18();
  @include font-bold();
  color: $color_white;
  text-align: center;

  background-color: $color_blue;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  &:hover, &:active {
    background-color: $color_blue--light;
  }

  &--white {
    color: $color_black;
    background-color: #FFFFFF;

    &:hover, &:active {
      background-color: $color-white;
    }
  }

  &--sign {
    padding: 0 r(22px);

    @include font-40();
    @include font-bold();

    line-height: r(40px);
  }

  &--icon {
    padding: 0;

    height: auto;

    font-size: 0;
    line-height: 0;
    background-color: transparent;
    box-shadow: none;

    &:hover, &:active {
      background-color: transparent;
    }
  }

  &--copy {
    width: r(13px);
    height: r(17px);
    margin-left: r(10px);
  }

  &--cross {
    .note--cross & {
      position: absolute;
      top: r($page-block-top);
      right: r($page-block-top);

      width: 20px;
      height: 20px;
    }

    .icon {
      max-width: 20px;
      max-height: 20px;
    }
  }
}