@import "../variables";

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;

  cursor: pointer;
}

.inputfile + label * {
  pointer-events: none;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.field {
  margin-right: 20px;

  display: flex;
  align-items: center;

  @include font-24;
  color: $color_black;

  &__input {
    padding: 0 r(12px);
    border: none;

    height: r(42px);
    min-width: 160px;

    background-color: #FFFFFF;
    box-shadow: r(2px) r(2px) r(5px) rgba(0, 0, 0, 0.25);
    border-radius: r(4px);

    &::placeholder {
      @include font-16();
      color: $color_grey-light;
    }

    &:disabled {
      padding: 0;

      background-color: transparent;
      box-shadow: none;
    }

    &--date {
      max-width: r(265px);
      width: 100%;
      height: r(48px);
    }
  }

  &__label {
    margin-right: r(20px);

    @include font-medium();
  }

  &--empty {
    .field__label {
      margin-right: 0;

      flex-grow: 1;
      flex-shrink: 1;

      &:after {
        content: 'не заполнен';
        padding-left: r(10px);

        @include font-24();
        color: $color_blue;
        white-space: nowrap;
      }
    }

    .field__input {
      display: none;
    }
  }
}

.error {
  @include font-24();
  color: $color-red;

  white-space: nowrap;
}