@import '../variables';

.header {
  z-index: 1;

  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: $header-height;

  display: flex;
  align-items: center;

  @include font-18();
  text-align: left;
  text-transform: uppercase;
  color: $color_white;

  background-color: $color_blue;

  &__nav-toggle {
    width: $nav-width;

    display: flex;
    justify-content: center;
  }

  &__content {
    padding: 0 r(35px) 0 r(15px);

    flex-grow: 1;
    align-self: stretch;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: $media-xl) {
      padding-right: r(20px);
    }

    @media screen and (max-width: $media-l) {
      padding-right: r(15px);
    }

    @media screen and (max-width: $media-xxxs) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    $size: 43px;
    $gap: 8px;

    margin-right: r(135px);

    @include icon-item();
    padding-left: r($size + $gap);

    display: block;

    @include font-36();
    text-transform: capitalize;
    white-space: nowrap;
    color: $color_white;

    &::before {
      margin-right: r($gap);

      height: r($size);
      width: r($size);

      background-image: url('#{$url}/logo.svg');
    }

    @media screen and (max-width: $media-xl) {
      margin-right: r(60px);
    }

    @media screen and (max-width: $media-m) {
      margin-right: r(30px);
    }
  }

  &__balance {
    @include icon-item();
    padding: r(10px) 0 r(10px) r($icon-size + 8px);
    margin-right: r(60px);

    flex-shrink: 3;

    &::before {
      background-image: url('#{$url_sprite}#balance');
    }

    @media screen and (max-width: $media-m) {
      margin-right: r(30px);
    }
  }

  &__nav {
    margin-left: auto;

    flex-shrink: 0;
    align-self: stretch;

    @media screen and (max-width: $media-xxxs) {
      margin-left: 0;
      flex-shrink: 1;
    }
  }

  &__nav-toggle {

  }
}

.header-nav {
  display: flex;
  align-items: stretch;

  &__item {
    padding: r(25px);

    display: flex;
    align-items: center;

    @include with-hover();

    &:active, &:hover {
      .header-nav__item--support {
        &::before {
          background-image: url('#{$url_sprite}#support-active');
        }
      }

      .header-nav__item--login {
        &::before {
          background-image: url('#{$url_sprite}#login-active');
        }
      }
    }

    a {
      color: inherit;
    }

    span {
      display: inline-block;
    }

    &--support,
    &--rus,
    &--eng,
    &--login {
      @include icon-item();
    }

    &--support {
      $gap: 12px;
      padding-left: r($icon-size + $gap);

      &::before {
        margin-right: $gap;

        background-image: url('#{$url_sprite}#support');
      }
    }

    &--list {
      display: flex;
      align-items: center;
    }

    &--rus, &--eng, &--login {
      $gap: 10px;
      padding-left: r($icon-size + $gap);

      &::before {
        margin-right: $gap;
      }
    }

    &--rus, &--eng {
      border-bottom: 1px solid transparent;

      &:active, &:hover {
        border-color: $color_blue;
      }
    }

    &--rus::before {
      background-image: url('#{$url}/sprite.svg#rus');
    }

    &--eng::before {
      background-image: url('#{$url}/sprite.svg#eng');
    }

    &--login::before {
      background-image: url('#{$url_sprite}#login');
    }

    @media screen and (max-width: $media-l) {
      padding: r(20px);
    }

    @media screen and (max-width: $media-xs) {
      padding: r(15px);
    }
  }
}

.nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0;

  span,
  span::before,
  span::after {
    height: 3px;
    width: 30px;
    background: $color_white;
    position: absolute;
    display: block;
    content: '';

    transition: all 500ms ease-in-out;
  }

  span::before {
    top: -10px;
  }

  span::after {
    bottom: -10px;
  }

  &.active {
    span {
      background-color: transparent;
    }

    span::before,
    span::after {
      top: 0;
    }

    span::before {
      transform: rotate(45deg);
    }

    span::after {
      transform: rotate(-45deg);
    }
  }

}