@import '../variables';

.header {
  z-index: 2;

  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: $header-height;

  display: flex;
  align-items: center;

  @include font-18();
  text-align: left;
  text-transform: uppercase;
  color: $color_white;

  background-color: $color_blue;

  &__nav-toggle {
    width: $nav-width;

    flex-shrink: 0;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $media-xxs) {
      width: $nav-width--l;
    }

    @media screen and (max-width: $media-xxxs) {
      width: $nav-width--m;
    }

    @media screen and (max-width: $media-xxxxs) {
      width: $nav-width--s;
    }
  }

  &__content {
    padding: 0 r(35px) 0 r(15px);

    flex-grow: 1;
    align-self: stretch;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: $media-xl) {
      padding-right: r(20px);
    }

    @media screen and (max-width: $media-l) {
      padding-right: r(15px);
    }
  }

  &__nav {
    margin-left: auto;

    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    align-items: stretch;
  }
}

.header-item {
  $gap: 10px;

  display: flex;
  align-items: center;

  &--logo {
    margin-right: r(135px);

    @media screen and (max-width: $media-xl) {
      margin-right: r(60px);
    }

    @media screen and (max-width: $media-m) {
      margin-right: r(30px);
    }
  }

  &__logo {
    padding: r(10px) 0;

    max-height: 43px;
    max-width: 43px;
  }

  &__name {
    margin-left: r(8px);

    @include font-36();
    text-transform: capitalize;
    white-space: nowrap;
    color: $color_white;

    @media screen and (max-width: $media-icons-m) {
      display: none;
    }
  }

  &--balance {
    padding: r(10px) 0 r(10px);
    margin-right: r(60px);

    flex-shrink: 3;

    @media screen and (max-width: $media-m) {
      margin-right: r(30px);
    }
  }

  &__label {
    margin-left: r($gap);

    display: inline-block;

    @media screen and (max-width: $media-icons-xl) {
      display: none;
    }
  }

  &__value {
    margin-left: r($gap);
  }
}


.header-nav-item {
  padding: r(25px);

  height: 100%;
  display: flex;
  align-items: center;

  @include with-hover();

  &--list {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
  }

  @media screen and (max-width: $media-l) {
    padding: r(20px);
  }

  @media screen and (max-width: $media-xs) {
    padding: r(15px);
  }
}


.nav-toggle {
  cursor: pointer;
  padding: r(10px) r(35px) r(16px) 0;

  background-color: transparent;
  border: none;

  span,
  span::before,
  span::after {
    height: r(3px);
    width: r(30px);
    background: $color_white;
    position: absolute;
    display: block;
    content: '';

    transition: all 500ms ease-in-out;
  }

  span::before {
    top: r(-10px);
  }

  span::after {
    bottom: r(-10px);
  }

  &.active {
    span {
      background-color: transparent;
    }

    span::before,
    span::after {
      top: 0;
    }

    span::before {
      transform: rotate(45deg);
    }

    span::after {
      transform: rotate(-45deg);
    }
  }

}