@import "../variables";

.info-item {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__label {
    margin-right: r(10px);
    padding: r(10px) 0;

    &.user-login {
      color: $color_blue;

      flex-grow: 1;
      flex-shrink: 1;
    }

    &--wm, &--qiwi, &--ym {
      @include icon-item(40px, 10px);
    }

    &--wm:before {
      background-image: url('#{$url}/wm.png');
    }

    &--qiwi:before {
      background-image: url('#{$url}/qiwi.png');
    }

    &--ym:before {
      background-image: url('#{$url}/ym.png');
    }
  }

  &__input {
    margin-right: r(20px);

    display: block;

    flex-grow: 1;
    flex-shrink: 2;
  }
}