@import '../variables';

.side-nav {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding-top: r($header-height);

  max-width: r($nav-width);
  width: 100%;
  height: 100%;

  background-color: $color_blue;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  transition: max-width 0.5s;

  .main-container--opened & {
    max-width: r($nav-width--opened);

    @media screen and (max-width: $media-icons-l) {
      max-width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: auto;
  }
}

.side-nav-item {
  $gap: 16px;

  padding: r($gap) r(16px) r(16px) r(53px);

  display: flex;
  align-items: center;

  @include font-24();
  color: $color_white;

  .main-container--opened & {
    min-width: r(270px);
  }

  &:not(&--info) {
    @include with-hover();
  }

  &--info {
    padding-left: r(40px);

    @include font-medium();
  }

  &--delimiter {
    padding-top: r($gap + 62px);

    position: relative;

    &:before {
      content: '';

      position: absolute;
      top: r(62px / 2);
      left: 50%;

      width: calc(100% - #{r(62px)});

      transform: translateX(-50%);

      border-top: 1px solid $color_white;
    }
  }

  &__img {
    width: r(24px);
    height: r(24px);

    .side-nav-item--info & {
      width: r(50px);
      height: r(50px);

      border-radius: 50%;
    }
  }

  &__label {
    margin-left: r(24px);
    display: none;

    .main-container--opened & {
      display: inline-block;
    }

    .side-nav-item--info & {
      margin-left: r(20px);
    }

    &--caption {
      display: block;

      @include font-16;
      @include font-medium;
    }
  }
}