@import '../variables';

.side-nav {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding-top: r($header-height);

  width: $nav-width;
  height: 100%;

  background-color: $color_blue;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  transition: width 0.5s;

  @media screen and (max-width: $media-xxs) {
    width: $nav-width--l;
  }

  @media screen and (max-width: $media-xxxs) {
    width: $nav-width--m;
  }

  @media screen and (max-width: $media-xxxxs) {
    width: $nav-width--s;
  }

  .main-container--opened & {
    width: $nav-width * $nav-width-mult;

    @media screen and (max-width: $media-xxs) {
      width: $nav-width--l * $nav-width-mult;
    }

    @media screen and (max-width: $media-xxxs) {
      width: 100%;
    }
  }

  &__menu {
    padding-top: r(10px);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    overflow-y: auto;

    .main-container--opened & {
      align-items: flex-start;
    }
  }
}

.side-nav-item {
  $gap: 16px;

  padding: r($gap) 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  @include font-24();
  color: $color_white;

  .main-container--opened & {
    padding-left: 12.62%;
    padding-right: 12.62%;

    min-width: r(270px);

    justify-content: flex-start;
  }

  &:not(&--info) {
    &.side-nav-item--active {
      color: $color_blue;

      @include item-hover();
    }
    @include with-hover();
  }

  &--info {
    @include font-medium();

    .main-container--opened & {
      padding-left: 9.52%;
      padding-right: 9.52%;
    }
  }

  &--delimiter {
    padding-top: r($gap + 62px);

    position: relative;

    &:before {
      content: '';

      position: absolute;
      top: r(62px / 2);
      left: 50%;

      width: calc(100% - #{r(62px)});

      transform: translateX(-50%);

      border-top: 1px solid $color_white;

      @media screen and (max-width: $media-xxxs) {
        width: calc(100% - #{r(40px)});
      }
    }
  }

  &__img {
    max-width: 24px;
    max-height: 24px;

    @media screen and (max-width: $media-xxs) {
      max-width: 20px;
      max-height: 20px;
    }

    .side-nav-item--info & {
      max-width: 50px;
      max-height: 50px;

      border-radius: 50%;

      @media screen and (max-width: $media-xxs) {
        max-width: 46px;
        max-height: 46px;
      }
    }
  }

  &__label {
    margin-left: r(24px);
    display: none;

    .main-container--opened & {
      display: inline-block;
    }

    .side-nav-item--info & {
      margin-left: r(20px);
    }

    &--caption {
      display: block;

      @include font-16;
      @include font-medium;
    }
  }
}