@import "../variables";

.table-container {
  margin-top: -50px;

  .table-overflow {
    padding-top: 50px;
  }
}

.table-overflow {
  overflow-x: auto;
}

.table {
  padding: 0 r(20px);

  background-color: $color_white;
  box-shadow: 0 0 r(4px) rgba(0, 0, 0, 0.25);
  border-radius: r(4px) r(4px) 0 0;

  &--without-total {
    .table__body .table__row:last-child{
      border-color: transparent;
    }
  }

  &__content {
    width: 100%;
    min-width: r(300px);

    @include font-16();
    color: $color_black;
  }

  &__head {
    color: $color_blue;
    text-transform: uppercase;
  }

  &__body {
    .rates & .table__cell {
      text-transform: uppercase;
    }
  }

  &__foot {
    .table__cell:first-child {
      @include font-bold();

      .rates & {
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    .table__row {
      border-color: transparent;
    }
  }

  &__row {
    border-bottom: 1px solid $color_blue;
  }

  &__cell {
    padding: r(16px) r(6px);

    text-align: left;
    //max-width: 0;

    &--number {
      text-align: right;
    }

    &--with-icon {
      padding-left: 17px + 8px;
      position: relative;

      .icon {
        position: absolute;

        top: 50%;
        left: 0;

        transform: translateY(-50%);
      }
    }

    &-content {
      display: flex;
      align-items: center;
    }
  }

  &--flex & {
    &__row-messages {
      .messages {
        display: none;
      }

      .icon--arrow {
        transition: transform .5s ease-in-out;
      }

      &--opened {
        margin: 0 r(-20px);
        padding: 0 r(20px);

        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

        .icon--arrow {
          transform: rotate(90deg);
        }

        .messages {
          display: block;
        }
      }

      &--opened.table__row-messages--archived {
        padding-bottom: r(15px);
      }

      &--archived {
        .messages__response {
          display: none;
        }
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
    }

    &__cell {
      max-width: 100%;
    }
  }
}