@import "../variables";

.table {
  @include font-16();
  color: $color_black;

  .statistics &, .links & {
    width: 100%;
    margin: r(-20px) 0;
  }

  &__head, &__body {
    padding: 0 r(20px);
  }

  &__head {
    color: $color_blue;
    text-transform: uppercase;
  }

  &__body {
    .links & {
      .table__row:last-child {
        border-color: transparent;
      }
    }
  }

  &__foot {
    .table__cell:first-child {
      @include font-bold();
    }

    .table__row {
      border-color: transparent;
    }
  }

  &__row {
    border-bottom: 1px solid $color_blue;
  }

  &__cell {
    padding: r(16px) r(6px);

    text-align: left;
    max-width: 0;

    &--number {
      text-align: right;
    }

    .button--icon {
      width: r(13px);
      height: r(17px);
    }
  }
}