</body>
</html>

<script>
    'use strict';

    const burger = document.body.querySelector('.nav-toggle');
    const changePassword = document.body.querySelector('#changePassword');
    const createLink = document.body.querySelector('#createLink');
    const form = document.body.querySelector('.links__create-link');
    const payoutsButton = document.body.querySelector('#payoutsButton');
    const messagesButton1 = document.body.querySelector('#messagesButton1');
    const messagesButton2 = document.body.querySelector('#messagesButton2');

    burger.addEventListener('click', function () {
        burger.classList.toggle('active');

        const main = document.body.querySelector('.main-container');
        main.classList.toggle('main-container--opened');
    });

    if(changePassword) {
        changePassword.addEventListener('click', function () {
            const form = document.body.querySelector('.profile__password');
            form.classList.toggle('note--opened');
        });
    }

    if(createLink) {
        const form = document.body.querySelector('.links__create-link');
        const createButton = document.body.querySelector('#createButton');

        createLink.addEventListener('click', function () {
            form.classList.toggle('note--opened');

            createLink.style.display = "none";
        });

        if(createButton) {
            const crossButton = document.body.querySelector('#crossButton');
            const currentForm = document.body.querySelector('.links__created-link');

            createButton.addEventListener('click', function () {
                currentForm.classList.toggle('note--opened');

                form.style.display = "none";
            });

            if(crossButton) {
                crossButton.addEventListener('click', function () {
                    createLink.style.display = "flex";
                    currentForm.style.display = "none";
                });
            }
        }
    }

    if(payoutsButton) {
        const form = document.body.querySelector('.payouts__form');
        const note = document.body.querySelector('.payouts__note');

        payoutsButton.addEventListener('click', function () {
            note.classList.toggle('note--opened');
            form.style.display = "none";
        });

        const payoutsCloseButton = document.body.querySelector('#payoutsCloseButton');

        payoutsCloseButton.addEventListener('click', function () {
            note.classList.toggle('note--opened');
            form.style.display = "flex";
        });
    }

    messagesButton1.addEventListener('click', function () {
        const messages = document.body.querySelector('#messages1');
        messages.classList.toggle('table__row-messages--opened');
    });

    messagesButton2.addEventListener('click', function () {
        const messages = document.body.querySelector('#messages2');
        messages.classList.toggle('table__row-messages--opened');
    });
</script>