<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/components/button.css">
    <link rel="stylesheet" href="css/components/fields.css">
    <link rel="stylesheet" href="css/components/header.css">
    <link rel="stylesheet" href="css/components/side-nav.css">
    <link rel="stylesheet" href="css/components/table.css">

    <link rel="stylesheet" href="css/pages/profile.css">
    <link rel="stylesheet" href="css/pages/statistics.css">
    <link rel="stylesheet" href="css/pages/links.css">
</head>
<body>