@import "../variables";

.links {
  .page__sub-title {
    margin-top: r(30px);
  }

  &__created-link {
    .success {
      margin-bottom: r(22px);
    }

    .link {
      margin-bottom: r(10px);

      text-transform: uppercase;

      &:before {
        content: '';

        position: absolute;
        bottom: -3px;
        left: 0;

        width: 100%;

        border-bottom: 1px solid $color_blue;
      }
    }

    .text {
      margin-bottom: r(13px);
    }

    .text-ellipsis {
      max-width: 800px;
    }
  }

  .form {
    width: 100%;

    .page-block__item {
      &:nth-child(odd) {
        flex-basis: 43.9%;

        .field__input {
          max-width: 279px;
        }
      }

      &:nth-child(even) {
        flex-basis: 52.6%;
        .field__input {
          max-width: 566px;
        }
        .field__input--with-button {
          max-width: 476px;
        }
      }
    }

    .button {
      margin-left: r(20px);
    }
  }
}