@import "../variables";

.profile {
  padding-top: r(60px);

  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $media-m) {
    padding-top: r(30px);
  }

  &__info {
    padding-right: r(93px);

    flex-shrink: 1;
    flex-grow: 1;
    width: calc(80%);

    @media screen and (max-width: $media-l) {
      padding-right: r(46px);
    }

    @media screen and (max-width: $media-m) {
      padding-right: r(20px);
    }
  }

  &__password {
    display: none;
    width: 100%;

    &--opened {
      display: flex;
      flex-wrap: wrap;
    }

    .info-item__input {
      margin-top: r(15px);

      max-width: calc(100% / 3);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title {
    margin: r(40px) 0 r(20px);

    @include font-28();
    @include font-bold();
    color: $color_black;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__avatar-content {
    padding: r(10px);
    margin-bottom: r(12px);

    background-color: $color_white;
    box-shadow: 0 0 r(4px) rgba(0, 0, 0, 0.25);
  }

  &__photo {
    width: r(180px);
    height: r(180px);

    border-radius: 50%;
  }
}