@import "../variables";

.referrals {
  &__note {
    margin-bottom: r(40px);

    @include font-18();
  }

  .page-block {
    margin-left: r(-10px);

    & > * {
      padding-left: r(10px);
    }
  }
}