@import "../variables";

.statistics {
  .page-block__item {
    flex-wrap: nowrap;
  }

  &__table {
    min-width: 730px;
  }

  .table {
    &__cell--hovered:hover {
      .tooltip:after, .tooltip__text {
        display: inline;
      }
    }
  }

  .field {
    flex-grow: 0;
    @include font-16();

    &__label {
      flex-shrink: 0;
      text-transform: uppercase;
    }
  }
}