@import "../variables";

.statistics {

  .field {
    @include font-16();

    &__label {
      flex-shrink: 0;
      text-transform: uppercase;
    }
  }

  .table {
    width: 100%;
    margin: r(-20px) 0;

    &__cell--hovered:hover {
      .tooltip:after, .tooltip__text {
        display: inline;
      }
    }
  }
}