@import 'variables';

html {
  font-size: $size-base;
  @media screen and (max-width: $media-xl) {
    font-size: $size-m;
  }

  @media screen and (max-width: $media-s) {
    font-size: $size-s;
  }

  @media screen and (max-width: $media-xs) {
    font-size: $size-xs;
  }

  @media screen and (max-width: $media-xxs) {
    font-size: $size-xxs;
  }
}

body {
  display: flex;
}

.main-container {
  padding: r($header-height) 0 0 r($nav-width);

  width: 100%;
}

.main-container--opened {
  padding-left: r($nav-width--opened);

  @media screen and (max-width: $media-icons-l) {
    padding-left: r($nav-width);
  }
}

.page {
  padding: r(50px) r(60px) r(20px);

  width: 100%;

  @media screen and (max-width: $media-m) {
    padding: r(30px) r(30px) r(20px);
  }

  &__title {
    margin-bottom: r(40px);

    @include font-38();
    @include font-bold();
    color: $color-blue;
  }

  &__sub-title {
    margin-bottom: r(40px);

    @include font-24();
    color: $color-blue;
  }

  &__block {
    margin-bottom: r(40px);
    padding: r(20px);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $color_white;
    box-shadow: 0 0 r(4px) rgba(0, 0, 0, 0.25);
    border-radius: r(4px) r(4px) 0 0;
  }
}

.page-block {
  margin-top: r(-10px);

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & > * {
    padding-top: r(10px);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

b {
  font-weight: bold;
  text-transform: uppercase;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: $color_blue;
}

main {
  display: flex;
}

.delimiter {
  @include delimiter();
}

.display-flex {
  display: flex;
}

.width-100\% {
  width: 100%;
}

.link-hover {
  @include link-hover();

  &.delimiter {
    &:before {
      width: calc(100% - #{r(20px)});
    }
  }
}

.user-login {
  @include font-24;
  @include font-medium();

  &--vip {
    $size: 36px;
    $gap: 20px;

    padding-right: r($size + $gap);
    position: relative;

    &:before, &:after {
      content: '';

      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }

    &:before {
      right: 0;
      width: r($size);
      height: r($size);

      background-color: $color_white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: r(4px);
    }

    &:after {
      right: r(($size - 24px) / 2);

      width: r(24px);
      height: r(24px);

      background-image: url('#{$url}/vip.png');
      background-size: contain;
    }
  }
}

.tooltip {
  position: relative;
  display: inline;

  &:after {
    content: '';
    display: none;

    position: absolute;
    bottom: calc(100% - 6px + 2px);
    right: 5.5px;

    width: 0;
    height: 0;

    border-left: 2px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color_blue;
  }

  &__text {
    padding: 10px;
    display: none;

    position: absolute;
    bottom: calc(100% + 2px);
    left: 50%;

    width: r(318px);

    @include font-12();
    color: $color_white;
    text-transform: none;
    text-align: left;

    background-color: $color_blue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}