@import 'variables';

html {
  font-size: $size-base;
  @media screen and (max-width: $media-xl) {
    font-size: $size-xl;
  }

  @media screen and (max-width: $media-l) {
    font-size: $size-l;
  }

  @media screen and (max-width: $media-m) {
    font-size: $size-m;
  }

  @media screen and (max-width: $media-s) {
    font-size: $size-s;
  }

  @media screen and (max-width: $media-xs) {
    font-size: $size-xs;
  }

  @media screen and (max-width: $media-xxs) {
    font-size: $size-xxs;
  }
}

body, main {
  min-height: 100vh;
}

body {
  display: flex;
}

.main-container {
  padding: r($header-height) 0 0 r($nav-width);

  width: 100%;
}

.main-container--opened {
  padding-left: r($nav-width--opened);

  @media screen and (max-width: $media-icons-l) {
    padding-left: r($nav-width);
  }
}

b {
  font-weight: bold;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: $color_blue;
}

main {
  display: flex;
}

.delimiter {
  @include delimiter();
}