@import 'variables';

$sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $size in $sizes {
  .width-#{$size}\% {
    width: $size * 1%;
  }
}

html {
  font-size: $size-base;
  @media screen and (max-width: $media-xl) {
    font-size: $size-m;
  }

  @media screen and (max-width: $media-s) {
    font-size: $size-s;
  }

  @media screen and (max-width: $media-xs) {
    font-size: $size-xs;
  }

  @media screen and (max-width: $media-xxs) {
    font-size: $size-xxs;
  }
}

body {
  display: flex;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  padding: r($header-height) 0 0 $nav-width;

  @media screen and (max-width: $media-xxs) {
    padding-left: $nav-width--l;
  }

  @media screen and (max-width: $media-xxxs) {
    padding-left: $nav-width--m;
  }

  @media screen and (max-width: $media-xxxxs) {
    padding-left: $nav-width--s;
  }
}

.main-container--opened {
  padding-left: $nav-width * $nav-width-mult;

  @media screen and (max-width: $media-xxs) {
    padding-left: $nav-width--l * $nav-width-mult;
  }

  @media screen and (max-width: $media-xxxs) {
    padding-left: $nav-width;
  }
}

.page {
  padding: r(50px) r(60px) r(20px);

  width: 100%;

  @media screen and (max-width: $media-m) {
    padding: r(30px) r(30px) r(20px);
  }

  &--background {
    padding: 0;
  }

  .page__wrapper {
    width: 100%;
    max-width: 1380px;
  }

  &__title-wrap {
    margin-bottom: r(40px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .page__title, .text {
      margin-bottom: 0;
    }

    .text {
      @include font-bold();
    }
  }

  &__title {
    margin-bottom: r(40px);

    display: flex;
    justify-content: space-between;

    @include font-38();
    @include font-bold();
    color: $color-blue;
  }

  &__sub-title {
    margin: r(40px) 0;

    @include font-24();
    color: $color-blue;

    &--black {
      color: $color_black;
    }
  }

  &__block {
    margin-bottom: r(40px);
    padding: r($page-block-top);

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $color_white;
    box-shadow: 0 0 r(4px) rgba(0, 0, 0, 0.25);
    border-radius: r(4px) r(4px) 0 0;
  }
}

.page-block {
  margin-top: r(-10px);
  margin-left: r(-20px);

  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &--start {
    align-items: flex-start;
  }

  &--end {
    align-items: flex-end;
  }

  & > * {
    padding-top: r(10px);
    padding-left: r(20px);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--column {
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;
    }

    &--grow {
      flex-grow: 1;
    }
  }
}

b {
  font-weight: bold;
}

b.currency {
  text-transform: uppercase;
}

svg, img {
  height: 100%;
  width: 100%;
}

svg {
  fill: currentColor;
}

main {
  display: flex;
}

a {
  text-decoration: none;
}

.note {
  padding-right: r(20px + $page-block-top);

  display: none;

  flex-direction: column;
  align-items: flex-start;

  @include font-24();

  &--opened {
    display: flex;
  }
}

.link {
  position: relative;

  @include font-16();
  color: $color_blue;

  &:hover:before {
    content: '';

    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;

    border-bottom: 1px solid $color_blue;
  }
}

.link-hover {
  @include link-hover();

  &.delimiter {
    &:before {
      width: calc(100% - #{r(30px)});
    }
  }
}

.text {
  @include font-16();
  color: $color_black;

  &--blue {
    color: $color_blue;
  }
}

.text-wrapper {
  display: flex;
  align-items: center;

  .text + .link {
    margin-left: r(8px);
  }
}

.delimiter {
  @include delimiter();
}

.display-flex {
  display: flex;
}

.width-100\% {
  width: 100%;
}

.icon {
  max-width: $icon-size;
  max-height: $icon-size;

  width: 100%;
  height: 100%;

  &--round {
    border-radius: 50%;
  }

  &--copy {
    padding-left: r(10px);

    max-width: 23px;
    max-height: 17px;
  }
}
.icon-pseudo {
  @include icon-item(40px, 10px);

  &--wm:before {
    background-image: url('#{$url}/wm.png');
  }

  &--qiwi:before {
    background-image: url('#{$url}/qiwi.png');
  }

  &--ym:before {
    background-image: url('#{$url}/ym.png');
  }
}

.status {
  &--process {
    color: $color_yellow;
  }

  &--success {
    color: $color_green;
  }

  &--error {
    color: $color_red;
  }
}

.user-login {
  @include font-24;
  @include font-medium();

  &--vip {
    $size: 36px;
    $gap: 20px;

    padding-right: r($size + $gap);
    position: relative;

    display: inline-block;
    height: r(24px);

    &:before, &:after {
      content: '';

      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }

    &:before {
      right: 0;
      width: r($size);
      height: r($size);

      background-color: $color_white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: r(4px);
    }

    &:after {
      right: r(($size - 24px) / 2);

      width: r(24px);
      height: r(24px);

      background-image: url('#{$url}/vip.png');
      background-size: contain;
    }
  }
}

.tooltip {
  position: relative;
  display: inline;

  &:after {
    content: '';
    display: none;

    position: absolute;
    bottom: calc(100% - 6px + 2px);
    right: 5.5px;

    width: 0;
    height: 0;

    border-left: 2px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color_blue;
  }

  &__text {
    padding: 10px;
    display: none;

    position: absolute;
    bottom: calc(100% + 2px);
    left: 50%;

    width: r(318px);

    @include font-12();
    color: $color_white;
    text-transform: none;
    text-align: left;

    background-color: $color_blue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}

.ellipsis {
  display: inline-block;
  max-width: calc(99% - 23px);

  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;

  color: $color_blue;
}