$font_header: 'Lobster', cursive;
$font: 'Roboto Mono', monospace;

$color_black: #000000;
$color_blue: #2A7DFA;
$color_blue--light: #75ABFC;

$color-green: #039434;
$color_grey: #E5E5E5;
$color_grey-light: #8E8E8E;
$color-red: #DE0000;
$color_yellow: #E3B100;
$color_white: #F0F0F0;

$icon-size: 17px;
$header-height: 70px;
$page-block-top: 20px;

$nav-width: 6.8vw;
$nav-width--l: 8vw;
$nav-width--m: 10vw;
$nav-width--s: 12vw;

$nav-width-mult: 3.23;

$url: '../../images';
$url_sprite: '../../images/sprite.svg';

$size-base: 16px;
$size-xl: 15px;
$size-l: 14px;
$size-m: 13px;
$size-s: 12px;
$size-xs: 11px;
$size-xxs: 10px;

$media-xl: 1470px;
$media-l: 1220px;
$media-m: 1115px;
$media-s: 990px;
$media-xs: 900px;
$media-xxs: 800px;
$media-xxxs: 640px;
$media-xxxxs: 420px;

$media-icons-xl: 740px;
$media-icons-l: 630px;
$media-icons-m: 540px;
//$media-icons-s: 460px;

@function r($size) {
  @return #{$size / $size-base}rem;
}

@mixin font-light {
  font-weight: 300;
}

@mixin font-medium {
  font-weight: 500;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin font-40 {
  font-family: $font;
  font-weight: 400;
  font-size: r(40px);
  line-height: r(47px);
}

@mixin font-38 {
  font-family: $font;
  font-weight: 400;
  font-size: r(38px);
  line-height: r(45px);
}

@mixin font-36 {
  font-family: $font_header;
  font-weight: 400;
  font-size: r(36px);
  line-height: r(45px);
}

@mixin font-28 {
  font-family: $font;
  font-weight: 400;
  font-size: r(28px);
  line-height: r(33px);
}

@mixin font-24 {
  font-family: $font;
  font-weight: 400;
  font-size: r(24px);
  line-height: r(28px);
}

@mixin font-18 {
  font-family: $font;
  font-weight: 400;
  font-size: r(18px);
  line-height: r(21px);
}

@mixin font-16 {
  font-family: $font;
  font-weight: 400;
  font-size: r(16px);
  line-height: r(19px);
}

@mixin font-12 {
  font-family: $font;
  font-weight: 400;
  font-size: r(12px);
  line-height: r(14px);
}

@mixin item-hover {
  text-decoration: none;
  color: $color_blue;

  background-color: $color_white;
}

@mixin with-hover {
  color: $color_white;

  &:hover, &:active {
    @include item-hover();
  }
}

@mixin link-hover {
  position: relative;

  &:hover {
    &:before {
      content: '';

      position: absolute;
      bottom: -3px;
      left: 0;

      width: 100%;

      border-bottom: 2px solid $color_blue;
    }
  }
}



@mixin delimiter {
  padding-right: r(15px + 15px);

  position: relative;

  white-space: nowrap;

  &::after {
    content: '|';

    position: absolute;
    top: 0;
    right: r(10px);
  }
}

@mixin icon-item($size, $gap) {
  padding-left: r($size + $gap);

  position: relative;

  &:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    height: r($size);
    width: r($size);

    background-size: cover;
  }
}
