$font_header: 'Lobster', cursive;
$font: 'Roboto Mono', monospace;

$color_black: #000000;
$color_blue: #2A7DFA;
$color_blue--light: #75ABFC;
$color_grey: #E5E5E5;
$color_grey-light: #8E8E8E;
$color-red: #DE0000;
$color_white: #F0F0F0;

$icon-size: 17px;
$header-height: 70px;
$nav-width: 130px;
$nav-width--opened: 420px;

$url: '../../images';
$url_sprite: '../../images/sprite.svg';

$size-base: 16px;
$size-xl: 15px;
$size-l: 14px;
$size-m: 13px;
$size-s: 12px;
$size-xs: 11px;
$size-xxs: 10px;

$media-xl: 1470px;
$media-l: 1220px;
$media-m: 1115px;
$media-s: 990px;
$media-xs: 900px;
$media-xxs: 800px;

$media-icons-xl: 740px;
$media-icons-l: 630px;
$media-icons-m: 540px;
$media-icons-s: 460px;

@function r($size) {
  @return #{$size / $size-base}rem;
}

@mixin font-medium {
  font-weight: 500;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin font-36 {
  font: normal normal r(36px)/r(45px) $font_header;
}

@mixin font-28 {
  font: normal 300 r(28px)/r(33px) $font;
}

@mixin font-24 {
  font: normal 300 r(24px)/r(28px) $font;
}

@mixin font-18 {
  font: normal normal r(18px)/r(21px) $font;
}

@mixin font-16 {
  font: normal normal r(16px)/r(19px) $font;
}

@mixin with-hover {
  color: $color_white;

  &:hover {
    text-decoration: none;
    color: $color_blue;

    background-color: $color_white;
  }
}


@mixin delimiter {
  padding-right: r(15px + 15px);

  position: relative;

  white-space: nowrap;

  &::after {
    content: '|';

    position: absolute;
    top: 0;
    right: r(10px);
  }
}

@mixin icon-item($size, $gap) {
  padding-left: r($size + $gap);

  position: relative;

  &:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    height: r($size);
    width: r($size);

    background-size: contain;
  }
}
