<header class="header">
    <div class="header__nav-toggle">
        <button class="nav-toggle"><span></span></button>
    </div>
    <div class="header__content">
        <a href="/" class="header-item header-item--logo">
            <img src="images/logo.svg" alt="logo" class="header-item__logo">
            <span class="header-item__name">Reduce Me</span>
        </a>
        <div class="header-item header--item--balance">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#balance"></use>
            </svg>
            <b class="header-item__label">Баланс: </b>
            <p class="header-item__value">
                <span class="delimiter">1000 <b>rub</b></span>1000 <b>usd</b>
            </p>
        </div>
        <nav class="header__nav header-item">
            <a href="#" class="header-nav-item">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#support"></use>
                </svg>
                <span class="header-item__label">Служба поддержки</span>
            </a>
            <div class="header-nav-item header-nav-item--list">
                <a href="#" class="header-item link-hover delimiter">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#rus"></use>
                    </svg>
                    <span class="header-item__label">Рус</span>
                </a>
                <a href="#" class="header-item link-hover">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#eng"></use>
                    </svg>
                    <span class="header-item__label">Eng</span>
                </a>
            </div>
            <a href="#" class="header-item header-nav-item">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#login"></use>
                </svg>
                <span class="header-item__label">Выход</span>
            </a>
        </nav>
    </div>
</header>