<header class="header">
    <h1 class="header__logo">Reduce Me</h1>
    <p class="header__balance"><b>Баланс: </b>1000 rub | 1000 usd</p>
    <nav class="header__nav header-nav">
        <a href="#" class="header-nav__item">
            <span class="header-nav__item--support">Служба поддержки</span>
        </a>
        <p class="header-nav__item">
            <span class="header-nav__item--rus"><a href="#">Рус</a></span><span class="header-nav__item--eng"><a href="#">Eng</a></span>
        </p>
        <a href="#" class="header-nav__item">
            <span class="header-nav__item--login">Выход</span>
        </a>
    </nav>
</header>