<header class="header">
    <div class="header__nav-toggle">
        <a class="nav-toggle" href="#"><span></span></a>
    </div>
    <div class="header__content">
        <a href="#" class="header__logo">Reduce Me</a>
        <p class="header__balance">
            <b>Баланс: </b>
            <span class="delimiter">1000 <b>rub</b></span>1000 <b>usd</b>
        </p>
        <nav class="header__nav header-nav">
            <a href="#" class="header-nav__item">
                <span class="header-nav__item--support">Служба поддержки</span>
            </a>
            <p class="header-nav__item">
                <span class="delimiter"><a href="#" class="header-nav__item--rus">Рус</a></span>
                <a href="#" class="header-nav__item--eng">Eng</a>
            </p>
            <a href="#" class="header-nav__item">
                <span class="header-nav__item--login">Выход</span>
            </a>
        </nav>
    </div>
</header>