<div class="side-nav">
    <nav class="side-nav__menu">
        <p class="side-nav-item side-nav-item--info">
            <img src="images/avatar.png" alt="avatar" class="side-nav-item__img">
            <span class="side-nav-item__label user-login user-login--vip">Seo-Login</span>
        </p>
        <a href="statistics.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#statistics"></use>
            </svg>
            <span class="side-nav-item__label">Статистика</span>
        </a>
        <a href="links.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#links"></use>
            </svg>
            <span class="side-nav-item__label">Мои ссылки</span>
        </a>
        <a href="rates.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#rates"></use>
            </svg>
            <span class="side-nav-item__label">Тарифы</span>
        </a>
        <a href="payouts.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#payouts"></use>
            </svg>
            <span class="side-nav-item__label">Выплаты</span>
        </a>
        <a href="referrals.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#referrals"></use>
            </svg>
            <span class="side-nav-item__label">Рефералы</span>
        </a>
        <a href="news.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#news"></use>
            </svg>
            <span class="side-nav-item__label">Новости</span>
        </a>
        <a href="rules.html" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#rules"></use>
            </svg>
            <span class="side-nav-item__label">Правила</span>
        </a>
        <a href="#" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#history"></use>
            </svg>
            <span class="side-nav-item__label">История обращений</span>
        </a>

        <p class="side-nav-item side-nav-item--info side-nav-item--delimiter">
            <img src="images/avatar.png" alt="" class="side-nav-item__img">
            <span class="side-nav-item__label">Иван
            <small class="side-nav-item__label--caption">Ваш менеджер</small></span>
        </p>
        <a href="tg://resolve?domain=reduceme" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#telegram"></use>
            </svg>
            <span class="side-nav-item__label">@reduceme</span>
        </a>
        <a href="mailto: admin@rdce.me" class="side-nav-item">
            <svg class="side-nav-item__img">
                <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
            <span class="side-nav-item__label">admin@rdce.me</span>
        </a>
    </nav>
</div>