@@include('_layout/start.html')

    @@include('components/header.html')

<main class="main-container">
    @@include('components/side-nav.html')

    @@include('pages/profile.html')
</main>

@@include('_layout/finish.html')


<script>
    const burger = document.body.querySelector('.nav-toggle');
    const changePassword = document.body.querySelector('#changePassword');

    burger.addEventListener('click', function () {
        burger.classList.toggle('active');

        const main = document.body.querySelector('.main-container');
        main.classList.toggle('main-container--opened');
    });

    changePassword.addEventListener('click', function () {
        const form = document.body.querySelector('.profile__password');
        form.classList.toggle('profile__password--opened');
    });
</script>