<div class="history page">
    <div class="page__title-wrap page-block">
        <h2 class="page__title page-block__item">История обращений</h2>
        <div class="page-block__item">
            <button id="historyButton" class="button" type="button">Создать обращение</button>
        </div>
    </div>

    <p class="history__note note page__block">Спасибо за обращение. Следите за ответами в истории обращений ниже</p>

    <p class="text">Вы еще не создали ни одного обращения в службу поддержки</p>

    <div class="history__main page__block">
        <div class="table table--flex">
            <div class="table__head">
                <div class="table__row">
                    <p class="table__cell capitalize">Тема</p>
                    <p class="table__cell table__cell--number lowercase">статус</p>
                </div>
            </div>
            <div class="table__body">
                <div id="messages1" class="table__row-messages table__row-messages--archived">
                    <div class="table__row">
                        <div class="table__cell">
                            <div class="table__cell-content">
                                <button id="messagesButton1" class="button button--icon">
                                    <svg class="icon icon--arrow">
                                        <use xlink:href="images/sprite.svg#arrow-bl-right"></use>
                                    </svg>
                                </button>
                                <span>не пришли деньги</span>
                            </div>
                        </div>
                        <div class="table__cell table__cell--number status status--error width-30%">закрыт
                        </div>
                    </div>
                    <div class="messages">
                        <div class="messages__message message message--outgoing">
                            <div class="message__wrap">
                                <div class="message__user">
                                    <img src="images/avatar.png" alt="avatar" class="icon">
                                    <span>Seo-Login</span>
                                </div>
                                <p class="message__message">Добрый день, у меня проблема - не создается ссылка такая
                                    то на такой то сайт ведущая, помогите решить.</p>
                            </div>
                        </div>
                        <div class="messages__message message message--incoming">
                            <div class="message__wrap">
                                <div class="message__user">
                                    <img src="images/avatar.png" alt="avatar" class="icon">
                                    <span>Иван</span>
                                </div>
                                <p class="message__message">Здравствуйте, проверьте еще раз список ссылок - ваша
                                    ссылка находится среди уже созданных</p>
                            </div>
                        </div>
                        <div class="messages__message message message--outgoing">
                            <div class="message__wrap">
                                <div class="message__user">
                                    <img src="images/avatar.png" alt="avatar" class="icon">
                                    <span>Seo-Login</span>
                                </div>
                                <p class="message__message">Добрый день, у меня проблема - не создается ссылка такая
                                    то на такой то сайт ведущая, помогите решить.</p>
                            </div>
                        </div>
                        <div class="messages__response page-block">
                            <p class="field page-block__item">
                                <input class="field__input" type="text" placeholder="Опишите вашу проблему">
                            </p>
                            <div class="page-block__item">
                                <button class="button" type="submit">Ответить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="messages2" class="table__row-messages">
                    <div class="table__row">
                        <div class="table__cell">
                            <div class="table__cell-content">
                                <button id="messagesButton2" class="button button--icon">
                                    <svg class="icon icon--arrow">
                                        <use xlink:href="images/sprite.svg#arrow-bl-right"></use>
                                    </svg>
                                </button>
                                <span>Проблема: не создается ссылка</span>
                            </div>
                        </div>
                        <div class="table__cell table__cell--number status status--success width-30%">есть новый ответ
                        </div>
                    </div>
                    <div class="messages">
                        <div class="messages__message message message--outgoing">
                            <div class="message__wrap">
                                <div class="message__user">
                                    <img src="images/avatar.png" alt="avatar" class="icon">
                                    <span>Seo-Login</span>
                                </div>
                                <p class="message__message">Добрый день, у меня проблема - не создается ссылка такая
                                    то на такой то сайт ведущая, помогите решить.</p>
                            </div>
                        </div>
                        <div class="messages__message message message--incoming">
                            <div class="message__wrap">
                                <div class="message__user">
                                    <img src="images/avatar.png" alt="avatar" class="icon">
                                    <span>Иван</span>
                                </div>
                                <p class="message__message">Здравствуйте, проверьте еще раз список ссылок - ваша
                                    ссылка находится среди уже созданных</p>
                            </div>
                        </div>
                        <div class="messages__response page-block">
                            <p class="field page-block__item">
                                <input class="field__input" type="text" placeholder="Опишите вашу проблему">
                            </p>
                            <div class="page-block__item">
                                <button class="button" type="submit">Ответить</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="table__row">
                    <div class="table__cell">
                        <div class="table__cell-content">
                            <button class="button button--icon">
                                <svg class="icon icon--arrow">
                                    <use xlink:href="images/sprite.svg#arrow-bl-right"></use>
                                </svg>
                            </button>
                            <span>У меня проблема</span>
                        </div>
                    </div>
                    <div class="table__cell table__cell--number status status--success width-30%">есть новый ответ</div>
                </div>
                <div class="table__row">
                    <div class="table__cell">
                        <div class="table__cell-content">
                            <button class="button button--icon">
                                <svg class="icon icon--arrow">
                                    <use xlink:href="images/sprite.svg#arrow-bl-right"></use>
                                </svg>
                            </button>
                            <span>помогите</span>
                        </div>
                    </div>
                    <div class="table__cell table__cell--number status status--process width-30%">на рассмотрении</div>
                </div>
            </div>
        </div>
    </div>

    <form class="history__form page__block page__block--column">
        <p class="field field--column history__theme">
            <label class="field__label" for="theme">Какая у вас проблема?</label>
            <input class="field__input width-100%" type="text" id="theme" placeholder="Тема обращения">
        </p>
        <p class="field field--column">
            <label class="field__label" for="descr">Опишите подробно:</label>
            <textarea id="descr" class="field__input field__input--textarea width-100%" placeholder="Опишите вашу проблему"></textarea>
        </p>
        <div class="history__actions">
            <div class="page-block">
                <div class="field page-block__item">
                    <label class="field__label">Есть скриншот?</label>
                    <p>
                        <input type="file" name="file" id="screen" class="inputfile"/>
                        <label for="screen" class="field__input link">Выберите файл</label>
                    </p>
                </div>
                <div class="page-block__item">
                    <button id="historyCreateButton" class="button" type="button">Отправить</button>
                </div>
            </div>
        </div>
    </form>
</div>