<div class="links page">
    <h2 class="page__title">Мои ссылки</h2>
    <div class="page__block">
        <form class="page-block">
            <p class="field page-block__item">
                <label class="field__label" for="link">Новая ссылка:</label>
                <input class="field__input" type="text" id="link" placeholder="Введите ссылку, которую вы хотите сократить">
            </p>
            <button class="button" type="submit">Создать</button>
        </form>
        <h3 class="page__sub-title">Укажите ссылки на все источники вашего трафика, чтобы избежать бана за накрутку:</h3>
        <form class="form">
            <div class="form__item">
                <p class="field">
                    <label class="field__label" for="source1">Источник трафика #1:</label>
                    <input class="field__input" type="text" id="source1" placeholder="VK группа">
                </p>
                <p class="field">
                    <label class="field__label" for="source2">Источник трафика #2:</label>
                    <input class="field__input" type="text" id="source2" placeholder="YouTube">
                </p>
                <p class="field">
                    <label class="field__label" for="source3">Источник трафика #3:</label>
                    <input class="field__input" type="text" id="source3" placeholder="Введите название источника">
                </p>
            </div>
            <div class="form__item">
                <p class="field">
                    <label class="field__label" for="link1">Ссылка #1:</label>
                    <input class="field__input" type="text" id="link1" placeholder="http://vk.com">
                </p>
                <p class="field">
                    <label class="field__label" for="link2">Ссылка #2:</label>
                    <input class="field__input" type="text" id="link2" placeholder="http://youtube.ru">
                </p>
                <p class="field">
                    <label class="field__label" for="link3">Ссылка #3:</label>
                    <input class="field__input" type="text" id="link3" placeholder="http://">
                    <button class="button button--sign" type="submit">+</button>
                </p>
            </div>
        </form>
    </div>
    <div class="page__block">
        <table class="table">
            <thead class="table__head">
            <tr class="table__row">
                <th class="table__cell">Короткая ссылка</th>
                <th class="table__cell">Ваша ссылка</th>
                <th class="table__cell table__cell--number">Заработок</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <span>RDCE.ME/12460435</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell">
                    <span>https://avatars.mds.yandex.net/get-pdb/2510728/7808f04c-ec8d-4927-826c-ec0937ec2f9c/</span>
                    <button type="button" class="button button--icon">
                        <svg class="header-item__icon">
                            <use xlink:href="images/sprite.svg#copy"></use>
                        </svg>
                    </button>
                </td>
                <td class="table__cell table__cell--number">53 <b>rub</b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>