<div class="page">
    <h2 class="page__title">Новости</h2>

    <div class="news page__block">
        <div class="news__title page__sub-title">
            <h3 class="page__sub-title--black">Вывод в WMZ и другие новвоведения</h3>
            <p class="news__data">13.08.19</p>
        </div>

        <div class="news__content">
            <p class="news__content-item"><b>Всем привет!</b></p>
            <p class="news__content-item">У нас есть несколько объявлений относительно обновлений внутри платформы</p>
            <p class="news__content-item">1.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
            <p class="news__content-item">2.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore itaque. Soluta quaerat aperiam destinctio corporis illum,
                eum eveniet, dolor enim tenetur nam expedita. Soluta qat aperiam distinctio corporis illum</p>
            <p class="news__content-item">3.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
        </div>

        <div class="news__rating">
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-up"></use>
                </svg>
            </button>
            <p class="news__rating-value">50</p>
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="news page__block">
        <div class="news__title page__sub-title">
            <h3 class="page__sub-title--black">Вывод в WMZ и другие новвоведения</h3>
            <p class="news__data">13.08.19</p>
        </div>

        <div class="news__content">
            <p class="news__content-item"><b>Всем привет!</b></p>
            <p class="news__content-item">У нас есть несколько объявлений относительно обновлений внутри платформы</p>
            <p class="news__content-item">1.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
            <p class="news__content-item">2.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore itaque. Soluta quaerat aperiam destinctio corporis illum,
                eum eveniet, dolor enim tenetur nam expedita. Soluta qat aperiam distinctio corporis illum</p>
            <p class="news__content-item">3.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
        </div>

        <div class="news__rating">
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-up"></use>
                </svg>
            </button>
            <p class="news__rating-value">50</p>
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="news page__block">
        <div class="news__title page__sub-title">
            <h3 class="page__sub-title--black">Вывод в WMZ и другие новвоведения</h3>
            <p class="news__data">13.08.19</p>
        </div>

        <div class="news__content">
            <p class="news__content-item"><b>Всем привет!</b></p>
            <p class="news__content-item">У нас есть несколько объявлений относительно обновлений внутри платформы</p>
            <p class="news__content-item">1.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
            <p class="news__content-item">2.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore itaque. Soluta quaerat aperiam destinctio corporis illum,
                eum eveniet, dolor enim tenetur nam expedita. Soluta qat aperiam distinctio corporis illum</p>
            <p class="news__content-item">3.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
        </div>

        <div class="news__rating">
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-up"></use>
                </svg>
            </button>
            <p class="news__rating-value">50</p>
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="news page__block">
        <div class="news__title page__sub-title">
            <h3 class="page__sub-title--black">Вывод в WMZ и другие новвоведения</h3>
            <p class="news__data">13.08.19</p>
        </div>

        <div class="news__content">
            <p class="news__content-item"><b>Всем привет!</b></p>
            <p class="news__content-item">У нас есть несколько объявлений относительно обновлений внутри платформы</p>
            <p class="news__content-item">1.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
            <p class="news__content-item">2.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore itaque. Soluta quaerat aperiam destinctio corporis illum,
                eum eveniet, dolor enim tenetur nam expedita. Soluta qat aperiam distinctio corporis illum</p>
            <p class="news__content-item">3.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod sit
                maxime et, delectus accusantium inventore ue. Soluta quaerat aperiam destinctio corporis illum, eum
                eveniet, dolor enim tenetur nam expedita.</p>
        </div>

        <div class="news__rating">
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-up"></use>
                </svg>
            </button>
            <p class="news__rating-value">50</p>
            <button class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
            </button>
        </div>
    </div>
</div>