<div class="payouts page">
    <h2 class="page__title">Выплаты</h2>
    <div class="test"></div>

    <form class="payouts__form page__block">
        <div class="page-block page-block--end">
            <div class="page-block__item page-block__item--grow">
                <div class="page-block page-block--end">
                    <p class="page-block__item field field--column">
                        <label class="field__label" for="purse">Выберете кошелек:</label>
                        <select id="purse" class="field__input select width-100%">
                            <option value="qiwi">Qiwi</option>
                            <option value="wm">Webmoney</option>
                            <option value="ym">YandexMoney</option>
                        </select>
                    </p>
                    <div class="page-block__item">
                        <button class="button button--white" type="submit">RUB</button>
                    </div>
                    <p class="page-block__item field field--column">
                        <label class="field__label" for="sum">Введите сумму (доступно до 1000 RUB):</label>
                        <input class="field__input width-100%" type="number" id="sum" placeholder="1000">
                    </p>
                </div>
            </div>
            <div class="page-block__item">
                <button id="payoutsButton" class="button" type="button">Заказать новую выплату</button>
            </div>
        </div>
    </form>

    <div class="payouts__note note page__block">
        <button id="payoutsCloseButton" type="button" class="button button--icon button--cross">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#cross"></use>
            </svg>
        </button>
        <p>Выплата заказана. Ожидайте. Следить за обработкой Вы можете в таблице ниже.</p>
    </div>

    <div class="page__block">
        <table class="table table--without-total">
            <thead class="table__head">
            <tr class="table__row">
                <th class="table__cell">Дата</th>
                <th class="table__cell">Кошелек</th>
                <th class="table__cell table__cell--number">Сумма</th>
                <th class="table__cell table__cell--number">Статус</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr class="table__row">
                <td class="table__cell">12.12.2019</td>
                <td class="table__cell">
                    <img src="images/qiwi.png" alt="logo" class="icon">
                    <span>Qiwi</span>
                </td>
                <td class="table__cell table__cell--number">500 <b class="currency">rub</b></td>
                <td class="table__cell table__cell--number status status--process">В обработке</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">02.12.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">20 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">22.11.2019</td>
                <td class="table__cell">
                    <img src="images/ym.png" alt="logo" class="icon">
                    <span>YandexMoney</span>
                </td>
                <td class="table__cell table__cell--number">500 <b class="currency">rub</b></td>
                <td class="table__cell table__cell--number status status--error">Отклонена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">8.10.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">100 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">09.09.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">150 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">02.09.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">80 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>