<div class="page">
    <h2 class="page__title">Выплаты</h2>

    <div class="page__block">
        <table class="table table--without-total">
            <thead class="table__head">
            <tr class="table__row">
                <th class="table__cell">Дата</th>
                <th class="table__cell">Кошелек</th>
                <th class="table__cell table__cell--number">Сумма</th>
                <th class="table__cell table__cell--number">Статус</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr class="table__row">
                <td class="table__cell">12.12.2019</td>
                <td class="table__cell">
                    <img src="images/qiwi.png" alt="logo" class="icon">
                    <span>Qiwi</span>
                </td>
                <td class="table__cell table__cell--number">500 <b class="currency">rub</b></td>
                <td class="table__cell table__cell--number status status--process">В обработке</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">02.12.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">20 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">22.11.2019</td>
                <td class="table__cell">
                    <img src="images/ym.png" alt="logo" class="icon">
                    <span>YandexMoney</span>
                </td>
                <td class="table__cell table__cell--number">500 <b class="currency">rub</b></td>
                <td class="table__cell table__cell--number status status--error">Отклонена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">8.10.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">100 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">09.09.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">150 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">02.09.2019</td>
                <td class="table__cell">
                    <img src="images/wm.png" alt="logo" class="icon">
                    <span>Webmoney</span>
                </td>
                <td class="table__cell table__cell--number">80 <b class="currency">usd</b></td>
                <td class="table__cell table__cell--number status status--success">Завершена</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>