<div class="profile main-content display-flex">
    <div class="profile__info">
        <div class="info-items__item info-item">
            <div class="display-flex width-100%">
                <p class="info-item__label field__label user-login">
                    <span class="user-login--vip">Seo-Login</span>
                </p>
                <button class="button" type="button" id="changePassword">Сменить пароль</button>
            </div>
            <form class="profile__password">
                <input class="info-item__input field__input" type="password" placeholder="Старый пароль">
                <input class="info-item__input field__input" type="password" placeholder="Новый пароль">
                <input class="info-item__input field__input" type="password" placeholder="Подтверждение пароля">
            </form>
        </div>

        <h3 class="profile__title">Контакты</h3>

        <form class="info-items__item info-item field">
            <label class="info-item__label field__label" for="mail">Почта:</label>
            <input class="info-item__input field__input" type="email" id="mail" disabled value="reduce@reduceme.ru" placeholder="введите новый">
            <span class="error">не подтверждена</span>
        </form>

        <form class="info-items__item info-item field">
            <label class="info-item__label field__label" for="tel">Telegram:</label>
            <input class="info-item__input field__input" type="text" id="tel" placeholder="введите новый">
            <button class="button" type="submit">Сменить</button>
        </form>

        <h3 class="profile__title">Кошельки</h3>

        <form class="info-items__item info-item field field--empty">
            <label class="info-item__label--wm info-item__label field__label" for="wm">Webmoney:</label>
            <input class="info-item__input field__input" type="email" id="wm" placeholder="введите новый" disabled>
            <button class="button" type="submit">Привязать</button>
        </form>

        <form class="info-items__item info-item field">
            <label class="info-item__label--qiwi info-item__label field__label" for="qiwi">Qiwi:</label>
            <input class="info-item__input field__input" type="text" id="qiwi" placeholder="введите номер">
            <button class="button" type="submit">Привязать</button>
        </form>

        <form class="info-items__item info-item field">
            <label class="info-item__label--ym info-item__label field__label" for="ym">YandexMoney:</label>
            <input class="info-item__input field__input" type="text" id="ym" disabled value="9999999999" placeholder="введите номер">
            <button class="button" type="submit">Привязать</button>
        </form>
    </div>
    <div class="profile__avatar">
        <div class="profile__avatar-content">
            <img class="profile__photo" src="images/avatar.png" alt="avatar">
        </div>
        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file" class="button">Сменить аватар</label>
    </div>
</div>