<div class="referrals page">
    <h2 class="page__title">Рефералы</h2>

    <div class="text">
        <p>Вы не привлекли еще ни одного реферала.</p>
        <p>Привлеките рефералов используя ссылку
            <a href="#" class="link">http://rdce.me/1234</a>
            <button type="button" class="button button--icon">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#copy"></use>
                </svg>
            </button>
        </p>
    </div>

    <div class="page__block">
        <table class="table">
            <thead class="table__head">
            <tr class="table__row">
                <th class="table__cell">Реферал</th>
                <th class="table__cell table__cell--number">Заработок</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar.png" alt="avatar" class="icon">
                    <span>Artem</span>
                </td>
                <td class="table__cell table__cell--number">139 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar2.png" alt="avatar" class="icon">
                    <span>Karn</span>
                </td>
                <td class="table__cell table__cell--number">189 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar3.png" alt="avatar" class="icon">
                    <span>Bokins</span>
                </td>
                <td class="table__cell table__cell--number">10 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar4.png" alt="avatar" class="icon">
                    <span>Seo-login</span>
                </td>
                <td class="table__cell table__cell--number">300 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar.png" alt="avatar" class="icon">
                    <span>Teriocraft</span>
                </td>
                <td class="table__cell table__cell--number">32 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar5.png" alt="avatar" class="icon">
                    <span>KingRian</span>
                </td>
                <td class="table__cell table__cell--number">89 <b class="currency">rub</b></td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    <img src="images/avatar2.png" alt="avatar" class="icon">
                    <span>Jack</span>
                </td>
                <td class="table__cell table__cell--number">219 <b class="currency">rub</b></td>
            </tr>
            </tbody>
            <tfoot class="table__foot">
            <tr class="table__row">
                <td class="table__cell"></td>
                <td class="table__cell table__cell--number"><b class="currency">Итого: </b>1280 <b class="currency">rub</b></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>