<div class="rules page">
    <h2 class="page__title uppercase">Правила сервиса rdce.me</h2>
    <h3 class="page__sub-title page__sub-title--black">Каждый партнер, прошедший регистрацию в системе, соглашается с
        указанными ниже правилами.</h3>
    <p class="rules__sub-title page__sub-title page__sub-title--black">Условия использования.</p>
    <ol class="list">
        <li class="list__item">Текущие правила могут быть изменены в дальнейшем</li>
        <li class="list__item">Сервис предназначен для сокращения ссылок в сети Интернет.</li>
        <li class="list__item">Настоящие правила действительны в последней редакции вне зависимости от того, вкакой редакции они были
            акцептованы партнером при регистрации.
        </li>
        <li class="list__item">Текущие правила могут быть изменены в дальнейшем</li>
    </ol>
    <p class="rules__sub-title page__sub-title page__sub-title--black">Условия использования.</p>
    <ol class="list">
        <li class="list__item">Текущие правила могут быть изменены в дальнейшем</li>
        <li class="list__item">Сервис предназначен для сокращения ссылок в сети Интернет.</li>
        <li class="list__item">Настоящие правила действительны в последней редакции вне зависимости от того, вкакой редакции они были
            акцептованы партнером при регистрации.
        </li>
        <li class="list__item">Текущие правила могут быть изменены в дальнейшем</li>
    </ol>
</div>